@using Microsoft.AspNetCore.Http
@using RealEstateApp.Core.Application.Helpers
@using RealEstateApp.Core.Application.DTOs.Account
@using RealEstateApp.Core.Application.Enums
@inject IHttpContextAccessor httpContextAccessor
@{
    var user = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>("user");
    var isAdmin = user != null ? user.Roles.Any(r => r == Roles.Admin.ToString()) : false;
    var isClient = user != null ? user.Roles.Any(r => r == Roles.Client.ToString()) : false;
    var isAgent = user != null ? user.Roles.Any(r => r == Roles.Agent.ToString()) : false;
    var isDeveloper = user != null ? user.Roles.Any(r => r == Roles.Developer.ToString()) : false;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RealEstateApp.Presentation.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RealEstateApp.Presentation.WebApp.styles.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bxs-bank'></i>
            <span class="logo_name">Real Estate App</span>
        </div>
        @if (user != null)
        {
            <ul class="nav-links">
                @if (isAdmin)
                {
                    <li>
                        <a asp-controller="Admin" asp-action="Index">
                            <i class='bi bi-person-circle'></i>
                            <span class="link_name">Home</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" asp-controller="Admin" asp-action="Index">Home</a></li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="Index">
                            <i class='bi bi-person-circle'></i>
                            <span class="link_name">Agent's List</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" asp-controller="Admin" asp-action="Index">Agent's List</a></li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="Index">
                            <i class='bi bi-person-circle'></i>
                            <span class="link_name">Mant. Admins</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" asp-controller="Admin" asp-action="Index">Mant. Admins</a></li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="Index">
                            <i class='bi bi-person-circle'></i>
                            <span class="link_name">Mant. Developers</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" asp-controller="Admin" asp-action="Index">Mant. Developers</a></li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="Index">
                            <i class='bi bi-person-circle'></i>
                            <span class="link_name">Mant. Type of Properties</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" asp-controller="Admin" asp-action="Index">Mant. Type of Properties</a></li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="Index">
                            <i class='bi bi-person-circle'></i>
                            <span class="link_name">Mant. Type of Sales</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" asp-controller="Admin" asp-action="Index">Mant. Type of Sales</a></li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="Index">
                            <i class='bi bi-person-circle'></i>
                            <span class="link_name">Mant. Improvements</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" asp-controller="Admin" asp-action="Index">Mant. Improvements</a></li>
                        </ul>
                    </li>
                }
                @if (isClient)
                {
                    <li>
                        <a asp-controller="Client" asp-action="Index">
                            <i class='bi bi-person-circle'></i>
                            <span class="link_name">Home</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" asp-controller="Client" asp-action="Index">Home</a></li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="Client" asp-action="Index">
                            <i class='bi bi-person-circle'></i>
                            <span class="link_name">Agents</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" asp-controller="Client" asp-action="Index">Agents</a></li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="Client" asp-action="Index">
                            <i class='bi bi-person-circle'></i>
                            <span class="link_name">My Properties</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" asp-controller="Client" asp-action="Index">My Properties</a></li>
                        </ul>
                    </li>
                    
                }
                @if (isAgent)
                {
                    <li>
                        <a asp-controller="Agent" asp-action="Index">
                            <i class='bi bi-person-circle'></i>
                            <span class="link_name">Home</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" asp-controller="Agent" asp-action="Index">Home</a></li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="Agent" asp-action="Index">
                            <i class='bi bi-person-circle'></i>
                            <span class="link_name">My Profile</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" asp-controller="Agent" asp-action="Index">My Profile</a></li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="Agent" asp-action="Index">
                            <i class='bi bi-person-circle'></i>
                            <span class="link_name">Mant. Properties</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" asp-controller="Agent" asp-action="Index">Mant. Properties</a></li>
                        </ul>
                    </li>

                }
                <li>
                    <a asp-controller="User" asp-action="Logout">
                        <i class='bi bi-person-circle'></i>
                        <span class="link_name">Sign out</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" asp-controller="User" asp-action="Logout">Sign out</a></li>
                    </ul>
                </li>
                <li>
                    <div class="profile-details">
                        <div class="profile-content">
                            <img src="@user.ImagePath" alt="profileImg">
                        </div>
                        <div class="name-job">
                            @*<div class="job fw-bold">@user.FirstName @user.LastName</div>*@
                            <div class="job">👨🏻‍🚀 @user.UserName</div>
                        </div>
                        <i class='bi bi-signal-1'></i>
                    </div>
                </li>
            </ul>
        }

        @if (user == null){
            <ul class="nav-links">
                <li>
                    <a asp-controller="Home" asp-action="Index">
                        <i class='bi bi-person-circle'></i>
                        <span class="link_name">Home</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" asp-controller="Home" asp-action="Index">Home</a></li>
                    </ul>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Index">
                        <i class='bi bi-person-circle'></i>
                            <span class="link_name">Agents</span>
                    </a>
                    <ul class="sub-menu blank">
                            <li><a class="link_name" asp-controller="Home" asp-action="Index">Agents</a></li>
                    </ul>
                </li>
                <li>
                    <a asp-controller="User" asp-action="Register">
                        <i class='bi bi-person-circle'></i>
                        <span class="link_name">Join the App</span>
                    </a>
                    <ul class="sub-menu blank">
                            <li><a class="link_name" asp-controller="User" asp-action="Register">Join the App</a></li>
                    </ul>
                </li>
                <li>
                     <a asp-controller="User" asp-action="Index">
                        <i class='bi bi-person-circle'></i>
                            <span class="link_name">Login</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" asp-controller="User" asp-action="Index">Login</a></li>
                    </ul>
                </li>


            </ul>
        }

    </div>

    <section class="home-section">
        <div class="home-content" role="main">
            <div class="container">
                <main class="pb-3 mx-auto mb-5">

                    @RenderBody()

                </main>
            </div>
        </div>
    </section>

    @*<footer class="border-top footer text-light mt-5" style="background: #11101d;">
        <div class="container text-center">
            &copy; 2022 Real Estate App - Designed with 💙 by ITLA students
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
