@using RealEstateApp.Core.Application.ViewModels.Properties
@model List<PropertiesViewModel>
@{
    ViewData["Title"] = "Properties";
}


<section class="container">
    <div class="row mx-auto">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-bold mt-4 text-center text-primary">🏢 Real Estate App</h1>
            <p class="fs-3 fw-bold text-secondary mt-1 text-center">
                Welcome to Real State App, here you can manager the properties of the system. <i class="text-white">🚀</i>
            </p>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-3 offset-9">
            <a asp-controller="Agent" asp-action="Create" class="btn btn-info">Create a new Property</a>
        </div>
    </div>

    <div class="row">

        @if (Model == null || Model.Count == 0)
        {

            <h2>There is no existing or created Properties</h2>
        }
        else
        {

            @foreach (PropertiesViewModel property in Model)
            {

                <div class="col-4">
                    <div class="card shadow-sm mb-3">
                        <img class="bd-placeholder-img card-img-top" src="@property.ImagePathOne" />

                        @*@if(property.ImagePathTwo != null && property.ImagePathTwo != ""){
                            <img class="bd-placeholder-img card-img-top" src="@property.ImagePathTwo" />

                        }

                        @if (property.ImagePathThree != null && property.ImagePathThree != "")
                        {
                            <img class="bd-placeholder-img card-img-top" src="@property.ImagePathThree" />

                        }

                        @if (property.ImagePathFour != null && property.ImagePathFour != "")
                        {
                            <img class="bd-placeholder-img card-img-top" src="@property.ImagePathFour" />

                        }*@

                        <div class="card-body">
                            <h4>Type of Property:@property.TypeOfProperty.Name</h4>
                            <p class="card-text">Code:@property.Code</p>
                            <p class="card-text">Type of Sale:@property.TypeOfSale.Name</p>
                            <p class="card-text">Price:@property.Price</p>
                            <p class="card-text">Number of Rooms:@property.NumberOfRooms</p>
                            <p class="card-text">Number of Bathrooms:@property.NumberOfBathrooms</p>
                            <p class="card-text">Land Size:@property.LandSize mt</p>
                            <h5>Improvements:</h5>
                            @foreach (var item in property.Improvements)
                            {
                                <p class="card-text">@item.Name</p>
                            }
                            <a asp-controller="Agent" asp-action="Edit" asp-route-id="@property.Id" class="btn btn-info">Edit</a>
                            <a asp-controller="Agent" asp-action="Delete" asp-route-id="@property.Id" class="btn btn-danger">Delete</a>


                        </div>
                    </div>
                </div>
            }

        }





    </div>

    </section>